.MuiListItem-root {
  text-align: center !important ;
  width: 60vw !important;
}
.MuiTextField-root {
  margin: 1vw !important;
}
.MuiButton-root {
  display: flex;
  flex-direction: column;
  width: 14.5vw;
  height: 3.7vw;
  margin: 1vw !important;
}
