.MuiListItem-root {
  text-align: center !important ;
  width: 60vw !important;
}
.MuiTextField-root {
  margin: 1vw !important;
}
.MuiButton-root {
  width: 23vw;
  height: 5.5vw;
  margin: 1vw !important;
}
